{% extends 'base.html.twig' %}

{% block title %}Timetable{% endblock %}

{% block body %}

<style>
    .headerProfil {
        text-align: center;
        color: blue;
    }

    .fig1, .figcap1 {
        display: inline-block;
    }
    .fig2, .figcap2 {
        display: inline-block;
    }
    .fig3, .figcap3 {
        display: inline-block;
    }
    .fig4, .figcap4 {
        display: inline-block;
    }

    .div-contact div {
        margin: 4%;
    }

    .divTech {
        padding: 30px;
    }

    .divTech > div{
        margin: 3%;
    }

    .divOut {
        width: 50%;
        height: 15px;
        background-color: rgb(202, 209, 223);
    }

    .divIn1 {
        width: 49%;
        height: 15px;
        background-color: rgb(17, 31, 226);
    }

    .divIn2 {
        width: 41%;
        height: 15px;
        background-color: rgb(214, 150, 13);
    }

    .divIn3 {
        width: 64%;
        height: 15px;
        background-color: rgb(255, 0, 157);
    }

    .divIn4 {
        width: 78%;
        height: 15px;
        background-color: rgb(44, 221, 28);
    }

    .divIn5 {
        width: 58%;
        height: 15px;
        background-color: rgb(6, 210, 236);
    }
    
    .divIn6 {
        width: 26%;
        height: 15px;
        background-color: rgb(231, 8, 8);
    }

    .titreFormation {
        color: #070f7d;
        text-decoration: underline;
    }
</style>

<div id="onglet">
    <ul class="tabs">
        <li><a href="https://teachr.fr/" target="_blank">Teach'r</a></li>
        <li class="active"><a href="#accueil">Accueil</a></li>
        <li><a href="#cours">Mes cours</a></li>
        <li><a href="#profil">Mon profil</a></li>
    </ul>

    <div class="tabs-content">
        <div class="tab-content active" id="accueil">
            <div class="card-deck mb-3 text-center">
                <div class="col-md-8 cour-block">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body bnjr-block">
                            <div class="img"><img src="img/user.png"></div>
                            <h2 class="bnjr">Bonjour à vous !</h2>
                        </div>
                    </div>
                </div>
            
                <div class="card mb-4 shadow-sm">
                  <div class="card-header header">
                    <h4 class="my-0 font-weight-normal"><strong>Prochain cours</strong></h4>
                  </div>
                  <div class="card-body">
                    <h4>{{ nextCourse }}</h4>
                    <h3 class="nextCourseTitle"><strong>{{ title }}</strong></h3>
                    <p class="accueil-desc">{{ description }}</p>
                    <button id="btnAlert" type="button" class="btn btn-primary">Détails</button>
                  </div>
                </div>
            </div>

            <div class="card-deck mb-3 text-center">
                {% for reservation in reservations %}
                    <div class="col-md-4 cour-block">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <div class="card-header header">
                                    <h4 class="my-0 font-weight-normal"><strong>{{ reservation.header }}</strong></h4>
                                </div>
                                <p class="header-description">
                                    {{ reservation.description }}
                                    je vous invite à faire une reservation en 
                                    remplissant un formulaire que vous aurez accès après avoir cliqué sur le bouton 
                                    Reserver ci-dessous.
                                </p>

                                <a href="{{ path("reservation") }}"><button type="button" class="btn btn-primary">Reserver</button></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-content" id="cours">
            <h1 style="text-align: center;">{{ nextCourse }}</h1>
            <div class="div-cours">
                {% for course in courses %}
                    <div class="col-md-5 cour-block">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h4><strong>Cours régulier de {{ course.titleCourse }}</strong></h4>
                                <h7>{{ course.daysCourse }}</h7>
                                <div class="div-fig-figcap">
                                    <div class="figure1"><img src="img/backpack.png"></div>
                                    <div class="figcap1"><strong>Toiwilou Hassane</strong></div>
                                </div>
                                <div class="div-fig-figcap">
                                    <div class="figure2"><img src="img/calendar.png"></div>
                                    <div class="figcap2">
                                        Lundi, Mardi, Mercredi, Jeudi, Vendredi <br>
                                        <span class="span-nextCourse">À partir du lundi {{ course.intDay }}</span>
                                    </div>
                                </div>
                                <div class="div-fig-figcap">
                                    <div class="figure3"><img src="img/clock.png"></div>
                                    <div class="figcap3">6h / jour à partir de 9h 15</div>
                                </div>
                                <div class="div-fig-figcap">
                                    <div class="figure4"><img src="img/diplome.png"></div>
                                    <div class="figcap4"><strong>Makan KONE</strong></div>
                                </div>
                                <div id="{{ course.div_id }}" class="div-detail-js">
                                    <h3 style="text-decoration: underline;">Description</h3>
                                    <p>{{ course.description }}</p>
                                    <button id="{{ course.btnid }}" type="button" class="btn btn-lg btn-block" style="background-color: #f7b388; color: #d63118;">Fermer</button>
                                </div>
                                <button id="{{ course.btn_id }}" type="button" class="btn btn-lg btn-block detail btn-detail">Détails</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-content" id="profil">
            <div class="card-deck mb-3 text-center">
                <div class="col-md-8 cour-block">
                    <div class="card mb-4 shadow-sm">
                        <div style="text-align: center;" class="card-body bnjr-block">
                            <div><img src="{{ asset("img/profil.png") }}"></div>
                            <h1 style="color: #070f7d;">Toiwilou Hassane</h1>
                            <span style="color: #3441ed;"><strong>Développeur web et applications</strong></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 cour-block">
                    <div class="card mb-4 shadow-sm">
                        <div class="div-contact card-body bnjr-block">
                            <h3 class="headerProfil">Contact</h3>
                            <div>
                                <div class="fig1"><img src="{{ asset("img/map.png") }}"></div>
                                <h6 class="figcap1">13 rue Saint Georges 94480 </h6><br>
                                <span>Ablon-sur-Seine</span>
                            </div>
                            <div>
                                <div class="fig2"><img src="{{ asset("img/telephone.png") }}"></div>
                                <h6 class="figcap2">06 23 52 41 31</h6>
                            </div>
                            <div>
                                <div class="fig3"><img src="{{ asset("img/gmail.png") }}"></div>
                                <h6 style="text-decoration: underline; color: #1ddbf0;" class="figcap3">toiwilouhassane@gmail.com</h6>
                            </div>
                            <div>
                                <div class="fig4"><img src="{{ asset("img/linkedin.png") }}"></div>
                                <h6 class="figcap4">Toiwilou Hassane</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck mb-3 text-center">
                <div class="col-md-4 cour-block">
                    <div class="card mb-4 shadow-sm">
                        <div class="divTech card-body bnjr-block">
                            <h3 class="headerProfil">Technologies</h3>
                            <div>
                                <div><h6>Symfony / Laravel / API REST</h6></div>
                                <div class="divOut"><div class="divIn1"></div></div>
                            </div>
                            <div>
                                <div><h6>Node.js / Expressjs / MongoDB</h6></div>
                                <div class="divOut"><div class="divIn2"></div></div>
                            </div>
                            <div>
                                <div><h6>HTML / CSS / Git</h6></div>
                                <div class="divOut"><div class="divIn3"></div></div>
                            </div>
                            <div>
                                <div><h6>Java SE</h6></div>
                                <div class="divOut"><div class="divIn4"></div></div>
                            </div>
                            <div>
                                <div><h6>Bootstrap / PHP / JavaScript / SQL</h6></div>
                                <div class="divOut"><div class="divIn5"></div></div>
                            </div>
                            <div>
                                <div><h6>ReactJS</h6></div>
                                <div class="divOut"><div class="divIn6"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 cour-block">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body bnjr-block">
                            <h3 class="headerProfil divTech">Projets personnels</h3>
                            <p>Site internet personnel en HTML / CSS / PHP / JavaScript</p>
                            <a href="http://35.233.125.13/public/" target="_blank"><button type="button" class="btn btn-outline-primary">Voir</button></a>
                            <p>Programme java de simulation d'une calculatrice</p>
                            <a href="https://onlinegdb.com/HkCL2SF_8" target="_blank"><button type="button" class="btn btn-outline-primary">Voir</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 cour-block">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body bnjr-block">
                            <h4 class="headerProfil">Formations</h4>
                            <h6 class="titreFormation">2020 - 2022 : Master (en cours)</h6>
                            <p>
                                Architecte technique en informatique à l'école INSTA Paris
                            </p>
                            <h6 class="titreFormation">2019 - 2020 : Bachelor</h6>
                            <p>
                                Analyse en genie logiciel à l'école INSTA Paris
                            </p>
                            <h6 class="titreFormation">2016 - 2019 : Licence</h6>
                            <p>
                                Mathématiques fondamentales à l'Université des Comores
                            </p>
                            <h6 class="titreFormation">2015 - 2016 : Bac</h6>
                            <p>
                                Baccalauréat scientifique aux Comores
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
