{% extends 'base.html.twig' %}

{% block title %}Timetable{% endblock %}

{% block body %}

<div id="onglet">
    <ul class="tabs">
        <li><a href="https://teachr.fr/" target="_blank">Teach'r</a></li>
        <li class="active"><a href="#accueil">Accueil</a></li>
        <li><a href="#cours">Mes cours</a></li>
        <li><a href="#profil">Mon profil</a></li>
    </ul>

    <div class="tabs-content">
        <div class="tab-content active" id="accueil">
            <div class="card-deck mb-3 text-center">
                <div class="col-md-8 cour-block">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body bnjr-block">
                            <div class="img"><img src="img/user.png" alt=""></div>
                            <h2 class="bnjr">Bonjour à vous !</h2>
                        </div>
                    </div>
                </div>
            
                <div class="card mb-4 shadow-sm">
                  <div class="card-header header">
                    <h4 class="my-0 font-weight-normal"><strong>Prochain cours</strong></h4>
                  </div>
                  <div class="card-body">
                    <h4>{{ nextCourse }}</h4>
                    <h3 class="nextCourseTitle"><strong>Un cours de {{ title }}</strong></h3>
                    <p class="accueil-desc">{{ description }}</p>
                    <button type="button" class="btn btn-primary">Détails</button>
                  </div>
                </div>
            </div>

            <div class="card-deck mb-3 text-center">
                {% for reservation in reservations %}
                    <div class="col-md-4 cour-block">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <div class="card-header header">
                                    <h4 class="my-0 font-weight-normal"><strong>{{ reservation.header }}</strong></h4>
                                </div>
                                <p class="header-description">{{ reservation.description }}</p>
                                <button type="button" class="btn btn-primary">Reserver</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-content" id="cours">
            <h1 style="text-align: center;">Prochain cours : {{ nextCourse }}</h1>
            <div class="div-cours">
                {% for course in courses %}
                    <div class="col-md-5 cour-block">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h4><strong>Cours régulier de {{ course.titleCourse }}</strong></h4>
                                <h7>{{ course.daysCourse }}</h7>
                                <div class="div-fig-figcap">
                                    <div class="figure1"><img src="img/backpack.png"></div>
                                    <div class="figcap1"><strong>Toiwilou Hassane</strong></div>
                                </div>
                                <div class="div-fig-figcap">
                                    <div class="figure2"><img src="img/calendar.png"></div>
                                    <div class="figcap2">
                                        Lundi, Mardi, Mercredi, Jeudi, Vendredi <br>
                                        <span class="span-nextCourse">À partir {{ course.daysCourse }}</span>
                                    </div>
                                </div>
                                <div class="div-fig-figcap">
                                    <div class="figure3"><img src="img/clock.png"></div>
                                    <div class="figcap3">6h/jour <span>À partir de 9h 15</span></div>
                                </div>
                                <div class="div-fig-figcap">
                                    <div class="figure4"><img src="img/diplome.png"></div>
                                    <div class="figcap4"><strong>Makan Kone</strong></div>
                                </div>
                                    <div id="div-detail-js" class="div-detail-js">
                                        <h3 style="text-decoration: underline;">Description</h3>
                                        <p>{{ course.description }}</p>
                                    </div>
                                <button id="btn-detail" type="button" class="btn btn-lg btn-block detail btn-detail">Détails</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-content" id="profil">
            <h1>Mon profil</h1>
        </div>
    </div>
</div>

{% endblock %}
